name: Rust CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  fmt:
    name: Check code format
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Check code format
      run: cargo fmt --check

  build:
    name: Check that code compiles
    runs-on: ubuntu-latest

    env:
      RUSTFLAGS: -D warnings

    steps:
    - uses: actions/checkout@v3
    - uses: ilammy/setup-nasm@v1
    - name: Compile the code
      run: make check

  clippy:
    name: Check that code is proper with clippy
    runs-on: ubuntu-latest

    env:
      RUSTFLAGS: -D warnings

    steps:
    - uses: actions/checkout@v3
    - uses: ilammy/setup-nasm@v1
    - name: Clippy
      run: make clippy

  # test:
  #   name: Run unit tests
  #   runs-on: ubuntu-latest

  #   steps:
  #   - uses: actions/checkout@v3
  #   - name: Run the unit tests
  #     run: make test
